html, body {
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    margin: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.logo {
    display: flex;
    height: 50px;
    align-self: center;
}

div {
    display: flex;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid seashell;
    background-color: black;
    justify-content: flex-end;
}

nav {
    padding: 10px;
    margin-left: auto;
    display: flex;
}

nav li {
    list-style: none;
    display: inline-block;
    text-decoration: underline;
}

nav li a {
    color: seashell;
    border: 0px;
}

main {
    display: flex;
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */
}

section {
    display: flex;
    background-image: url('../img/img-mission-background.jpg');
    height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
}

.mission-header {
    background-color: black;
    /* text-align: center; */
}